__pycache__/
*.py[cod]
.pypirc
docs/_build/
docs/_static/
docs/_templates/
tests/.cache
dist/
.idea/
.cache/
_build/
caar.egg-info
setuptools-25.1.4.zip
punch_config.py
punch_version.py
create_pickles_*.ipynb
gitinspect.html
.ipynb_checkpoints/
/.ipynb_checkpoints/
HVAC_ML_DEV.ipynb
/README.html
README.html
